@import "tailwindcss";

html,
body,
#root{
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  font-family: 'Orbitron', sans-serif;
  background-color: black;

  background-image:
  linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

  background-size: 40px 40px;

  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}